<div class="container pt-5 devise ">
  <div class="row justify-content-center" style="padding-top: 100px;">
    <h1>新規登録</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col text-center">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <%= f.label :名前 %>
        </div>
        <%= f.text_field :name, autofocus: true, style: "background-color:transparent; border-color: black; border-width: 1px;" %>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <%= f.label :メールアドレス %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "background-color:transparent; border-color: black; border-width: 1px;" %>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          （<%= @minimum_password_length %> 文字以上）
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", style: "background-color:transparent; border-color: black; border-width: 1px;" %>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <%= f.label :パスワード確認 %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "background-color:transparent; border-color: black; border-width: 1px;" %>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-5 text-right">
          <%= f.submit " 登録 ", style: "background-color:transparent; border-color: black; border-width: 1px;" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>