<div class="container articles">
  <%= render "layouts/header" %>
  <div class="row justify-content-center articles">
    <h1>MY PAGE</h1>
  </div>
  <div class="row justify-content-center name">
    <h2><%= current_user.name %> Library</h2>
  </div>
  <div class="row justify-content-center" style="padding-left: 300px;">
    <%= link_to "新規投稿", new_article_path, class: "btn btn-outline-dark" %>
    <div class="pl-2"><%= link_to "プロフ編集", edit_user_registration_path, class: "btn btn-outline-dark" %></div>
  </div>
  <div class="row justify-content-center articles">
    <table>
      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td class="pr-5"><%= article.created_at.strftime('%Y.%m.%d') %></td>
          <td><%= link_to article.title, article_path(article), class: "text-dark" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>