<div class="container articles">
  <%= render "layouts/header" %>
  <div class="row justify-content-center articles">
    <h1>Your own dictionary</h1>
  </div>
  <div class="row justify-content-center">
    <%= link_to "新規投稿", new_article_path, class: "btn btn-outline-dark mr-3" %>
    <%= link_to "アカウント編集", edit_user_registration_path, class: "btn btn-outline-dark" %>
  </div>
  <div class="row justify-content-center articles">
    <table>
      <tbody>
        <% @articles.each do |article| %>
        <tr>
          <td class="pr-5"><%= article.created_at.strftime('%Y.%m.%d') %></td>
          <td><%= link_to article.title.truncate(10), article_path(article), class: "text-dark" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center articles">
    <%= paginate @articles %>
  </div>
</div>