<div class="container article">
  <%= render "layouts/header" %>
  <div class="row justify-content-center articles">
    <h1><%= @article.title %></h1>
  </div>
  <div class="row justify-content-center article-title">
    <%= @article.category.name.truncate(15) %>
  </div>
  <div class="row justify-content-center article">
    <%= attachment_image_tag @article, :image, size: "200x200", class: "rounded-circle" %>
  </div>
  <div class="row justify-content-center article">
    <div class="col-8">
      <%= simple_format@article.body %>
    </div>
  </div>
  <div class="row justify-content-center article" style="padding-left: 300px;">
    <%= link_to "編集", edit_article_path(@article), class: "btn btn-outline-dark" %>
  </div>
  <div class="row justify-content-center article">
    <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      A message of support to you who are studying
    </button>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="collapse" id="collapseExample">
      <div class="card p-2">
        <%= @article.sentiment %>
      </div>
    </div>
  </div>
  <div class="check">
    <%= render 'checks/check', article: @article %>
  </div>
</div>