<div class="container pt-5 devise ">
  <div class="row justify-content-center" style="padding-top: 100px;">
    <h1>パスワードを忘れた方</h1>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col text-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <%= f.label :メールアドレスを入力 %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "background-color:transparent; border-color: black" %>
      </div><br>
      <div class="row justify-content-center">
        <div class="col-5 text-right">
          <%= f.submit " 送信 ", style: "background-color:transparent; border-color: black" %>
        </div>
      </div>
      <% end %>
      <div class="row justify-content-center">
        <div class="col-3 text-left">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

