<div class="row justify-content-center search">
  <%= search_form_for @search, enforce_utf8: false, url: searches_path do |f| %>
  <div class="col search">
    <%= f.select :sorts, { '投稿が新しい順': 'id desc', '投稿が古い順': 'id asc'} %>
  </div>
  <div class="col search">
    <%= f.date_field :created_at_eq, :placeholder => "日付", style: "background-color:transparent; border-color: black; border-width: 1px;", size: 20 %>
  </div>
  <div class="col search">
    <%= f.collection_select :category_id_eq, @categories, :id, :name, :include_blank => 'カテゴリー未選択', :selected => nil %>
  </div>
  <div class="col search">
    <%= f.text_area :title_or_body_cont, :placeholder => "キーワード", style: "background-color:transparent; border-color: black; border-width: 1px;", size: "20x5", value: '' %>
  </div>
  <div class="col text-right search">
    <%= f.submit " 検索 ", style: "background-color:transparent; border-color: black; border-width: 1px;" %>
  </div>
  <% end %>
</div>