<div class="container article">
  <%= render "layouts/header" %>
  <div class="row justify-content-center articles">
    <h1>検索結果</h1>
  </div>
  <div class="row justify-content-center">
  <%= search_form_for @search, enforce_utf8: false, url: searches_path do |f| %>
    <%= f.hidden_field :category_id_eq, value: @category_params %>
    <%= f.hidden_field :created_at_eq, value: @date_params %>
    <%= f.hidden_field :title_or_body_cont, value: @keyword_params %>
    <%= f.select :sorts, { '投稿が新しい順': 'id desc', '投稿が古い順': 'id asc', '閲覧回数が多い順': 'checks_count desc', '閲覧回数が少ない順': 'checks_count asc' } , { selected: params[:q][:sorts] } , { :class => "p-1", :style => "background-color:transparent; border-color: black; border-width: 1px;", onchange: 'this.form.submit()'} %>
    <%#= f.submit %>
  <% end %>
  </div>
  <div class="row justify-content-center articles">
    <table>
      <tbody>
        <% if @results.present? %>
          <% @results.each do |article| %>
          <tr>
            <td class="pr-5"><%= article.created_at.strftime('%Y.%m.%d') %></td>
            <td><%= link_to article.title.truncate(9), article_path(article), class: "text-dark" %></td>
          </tr>
          <% end %>
        <% else %>
          <h1>該当なし</h1>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center articles">
    <%= paginate @results %>
  </div>
</div>