<div class="container categories">
  <%= render "layouts/header" %>
  <div class="row justify-content-center category">
    <h5>CATEGORY NAME</h5>
  </div>
  <div class="row justify-content-center">
    <h1><%= @category.name %></h1>
  </div>
  <div class="row justify-content-center category">
    <table>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td class="pr-5"><%= article.created_at.strftime('%Y.%m.%d') %></td>
            <td><%= link_to truncate_title(article.title), article_path(article), class: "text-dark" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center category">
    <%= paginate @articles %>
  </div>
</div>